<div class="container">
  <h1 class="my-5">Lista de Usuarios</h1>
  <table class="table table-bordered">
    <thead>
      <tr class="table-dark">
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <th scope="row">{{u.id}}</th>
        <td>{{u.name}}</td>
        <td>{{u.email}}</td>
        <td><span class="badge text-bg-primary">{{ u.gender | titlecase }}</span></td>
        <td>
          <span *ngIf="u.status === 'active'" class="badge text-bg-success">{{ u.status | titlecase }}</span>
          <span *ngIf="u.status === 'inactive'" class="badge text-bg-danger">{{ u.status | titlecase }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>